alcula<!DOCTYPE html>
<html lang="en">
<head>

	<% include ./dependencies/head %>

</head>
<body>

	<% include ./pages/index %>

	<% include ./templates/navbar %>
	<% include ./templates/beverages %>
	<% include ./templates/results %>
	<% include ./templates/tab %>
	<% include ./templates/user-input %>
	
	<% include ./dependencies/scripts %>

</body>
</html>