<% include ../partials/page-header %>

<div id="results"></div>


<% include ../partials/bar %>	

<% include ../partials/tab %>	

<div class="container-fluid container-nav"></div>
	
<div class="container" id="user-input"></div>

<% include ../partials/footer %>