<% include ../partials/page-header %>

<div id="results"></div>

<div class="container-fluid" id="nav"></div>

<% include ../partials/bar %>	

<% include ../partials/tab %>	
	
<div class="container" id="user-input"></div>

<% include ../partials/footer %>