body {
	background-image: url('../images/padded.png');
	background-repeat: repeat;
  background-position: center center;
  color: white;
}

a {
	background-color: #fff;
	color: #020256;
	font-size: 19px;
}

a:hover {
	text-decoration: none;
}

a h1 {
	color: white;
	font-family: Raleway;
	text-decoration: none;
	font-size: 5em;
	padding-top: 10%;
	text-align: center;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #020256;
	color: #fff;
	font-size: 19px;
}


.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
	border: 1px solid #020256;
}

.nav-tabs.nav-justified > li > a {
	border: 1px solid #fff;
}

h5 {
	font-family: Raleway;
}

h5.true {
	font-family: inherit;
}

img.beverage-image {
	width: 80px;
	height: 80px;
}

img.beverage-image:hover {
	background-color: #020256;
	border-radius: 6px;
	border: 1px solid yellow;
}

ul#tab-list li img:hover {
	background-color: darkred;
	border-radius: 6px;
	border: 1px solid yellow;
}

.screen-click {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 6px;
	width: 100px;
	height: 100px;
}

#beverages-list li {
	max-height: 80px; 
}

#beverages {
	padding-bottom: 20px;
}

li.beverage-item {
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
}

ul#beverages-list li {
	display: inline-block;
	margin-bottom: 20px;
}


ul#tab-list li {
	display: inline-block;
}

li {
	list-style-type: none;
}

#user-input {
	padding-top: 50px;
}

#tab {
	text-align: center;
}

h1.results {
	font-size: 100px;
}

.results {
	text-align: center;
}

#search-query {
	padding-top: 6%;
}

.stage-color-zero {
	height: 30px;
	background-color: #689b6e;
}

.stage-color-one {
	height: 30px;
	background-color: #689b6e;
}

.stage-color-two {
	height: 30px;
	background-color: #5a81c1;
}

.stage-color-three {
	height: 30px;
	background-color: #ead345;
}

.stage-color-four {
	height: 30px;
	background-color: #e09e4a;
}

.stage-color-five {
	height: 30px;
	background-color: #bd574b;
}

.yellow {
	color: #ead345;
}

.orange {
	color: #e09e4a;
}
.red {
	color: #bd574b;
}

.chart-color1 {
  fill: #689b6e;
}

.chart-color2 {
  fill: #5a81c1;
}

.chart-color3 {
  fill: #ead345;
 }

.chart-color4 {
  fill: #e09e4a;
 }

 .chart-color5 {
  fill: #bd574b;
 }

.needle {
	fill: silver;
}

#footer {
	margin: 65px auto 0;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

#footer a {
	background-color: transparent;
	color: #fff;
}

@media (max-width: 568px) {
	.add {
		display: none;
	}
}