body {
	background-image: url('../images/low_contrast_linen.png');
	background-repeat: repeat;
  background-position: center center;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
}

label.block {
	display: block;
}

label.btn.btn-default {
	background-color: transparent;
	height: 45px;
	font-size: 22px;
	color: #a3a3a3;
}

label.btn.btn-default.active {
	background-color: #a3a3a3;
	color: #fff;
}

.form-control {
  background-color: transparent !important;
  border: 1px solid #fff;
  color: #fff;
  height: 46px;
}

.form-control::-webkit-input-placeholder {
	color: #a3a3a3;
}

p.step {
	text-align: center;
	font-size: 28px;
}

.inline-block {
	display: inline-block;
}

#title {
	font-size: 50px;
	margin-top: 0;
	margin-bottom: 0;
}

.modal-backdrop {
  background-color: #000;
}

.modal-content {
	background-image: url('../images/padded.png');
}

.modal-btn {
	float: right;
	font-size: 30px;
	background: transparent;
	border: none;
	color: #fff;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.modal-body h4 {
	font-family: 'PT Sans', sans-serif;
}

#bar {
	min-height: 160px;
}

#bar h5 {
	padding: 10px;
	color: #fcfcfc;
}

#tab {
  position: relative;
}

.border {
	position: absolute;
	width: 75%;
	margin-left: 12%;
	border-top: 1px solid #a3a3a3;
	text-align: center;
}

#counter {
	padding-top: 20px;
}

span.badge {
	background: #000;
	color: #fcfcfc;
}

#tab-list {
	min-height: 160px;
	padding-top: 20px;
}

.page-header {
	border: none;
}

a:hover {
	text-decoration: none;
	color: #000;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #fff;
	color: #000;
	font-size: 25px;
	-webkit-box-shadow: 0px 4px 17px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 17px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 17px -5px rgba(0,0,0,0.75);
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
	border: 0.5px solid #fff;
}

.nav-tabs.nav-justified > li > a {
	border: 1px solid #000;
	-webkit-box-shadow: 0px 4px 17px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 17px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 17px -5px rgba(0,0,0,0.75);
}

img.beverage-image {
	max-width: 80px;
	max-height: 80px;
}

img.beverage-image:hover {
	background-color: #000000;
	border-radius: 6px;
	
}

ul#tab-list li img:hover {
	background-color: darkred;
	border-radius: 6px;
	
}

li.beverage-item {
	text-align: center;
	padding-top: 25px;
}

ul#beverages-list li {
	display: inline-block;
}

ul#tab-list li {
	display: inline-block;
}

ul {
	padding-left: 0;
}

li {
	list-style-type: none;
}

h1.results {
	font-size: 100px;
	margin-top: 0px;
	font-family: 'Open Sans', sans-serif;
}

#search-query {
	padding-top: 6%;
}

.footer {
	bottom: 0;
	padding-top: 15px;
	color: #a3a3a3;
}

.footer a {
	background: none;
	color: #a3a3a3;
}

.zero {
	height: 30px;
	background-color: #689b6e;
}

.one {
	height: 30px;
	background-color: #689b6e;
}

.two {
	height: 30px;
	background-color: #5a81c1;
}

.three {
	height: 30px;
	background-color: #ead345;
}

.four {
	height: 30px;
	background-color: #e09e4a;
}

.five {
	height: 30px;
	background-color: #bd574b;
}

.yellow {
	color: #ead345;
}

.orange {
	color: #e09e4a;
}
.red {
	color: #bd574b;
}

ul#color-bar li {
	display: inline-block;
}

#color-bar li {
	width: 19%;
	padding: 0;
	margin: 0;
}

.color-bar-desc {
	padding-top: 5px;
	color: #000;
}



@media (min-width: 1190px) {
	label.btn.btn-default {
		display: inline-block;
		height: 45px;
		width: 38px;
		font-size: 22px;
		padding-left: 5px
	}
	.user-radio {
		width: 9.3%;
	}	
}

@media (min-width: 992px) {
	label.btn.btn-default {
		display: inline-block;
		height: 45px;
		width: 28px;
		font-size: 22px;
		padding-left: 5px
	}
	.user-radio {
		width: 9.3%;
	}	

}

@media (max-width: 767px) {
	label.btn.btn-default {
		height: 45px;
		width: 38px;
		font-size: 22px;
	}
}

