<script type="text/template" id="nav-template">
	<div class="row">
		<div class="col-md-6" >	
			<ul class="nav nav-tabs nav-justified" id="beverage-nav">
				<li id="liquor-tab" role="presentation"><a href="#">LIQUOR</a></li>
				<li id="wine-tab" role="presentation" class="active"><a href="#">WINE</a></li>
				<li id="beer-tab" role="presentation"><a href="#">BEER</a></li>
			</ul>
		</div>
	</div>
</script>