	<script type="text/template" id="results-template">
		<div class="modal fade model-container" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      	
	      	<div class="modal-header">
						<h2 class="modal-title text-center"><em><span class="yellow">A</span><span class="orange">L</span><span class="red">C</span></em>ULATOR</h2>
						<button type="button" class="btn btn-default modal-btn" data-dismiss="modal">&#10005;</button>
						</div>

						<div class="modal-body">
						<div class="container-fluid">
		          <div class="row">
								
								<div class="col-xs-12 col-sm-12 text-center">
									<h1 class="results">&#8776; <%%= bac %></h1>
								</div>
								
								<div class="col-xs-12 col-sm-8 col-sm-offset-2 <%%= color %>">
									<!-- COLOR BAR -->
								</div>

								<div class="col-xs-12 col-sm-8 col-sm-offset-2">
									<h4 align="justify"><%%= description %></h4>
								</div>
							</div>
						</div>
						</div>

						<div class="modal-footer">
							<ul class="text-center" id="color-bar">
							<li>
								<div class="one"><p class="color-bar-desc">Mild</p></div>
							</li>
							<li>
								<div class="two"><p class="color-bar-desc">Legal Limit</p></div>
								</li>
							<li>
								<div class="three"><p class="color-bar-desc">Significant</p></div>
								</li>
							<li>
								<div class="four"><p class="color-bar-desc">Extreme</p></div>
								</li>
							<li>
								<div class="five"><p class="color-bar-desc">Dangerous</p></div>
							</li>
							</ul>
				    </div>

		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</script>