	<script type="text/template" id="tab-item-template">	
		<img src="<%%= img %>" class="img-beverage">
	</script>

	<script type="text/template" id="tab-counter-template">
		<h4><strong><%%= userTab.length %></strong> <%%= userTab.length === 1 ? 'item' : 'items' %> on your tab</h4>
	</script>