<div class="container">
		<div class="row text-center" id="bar"> 
	  	<div class="col-xs-12 col-sm-12 text-center">
	  		<ul id="beverages-list">
	  			<!-- BEVERAGES -->
	  		</ul>
	  		<h5>Click to add</h5>
			</div>
  	</div>
	</div>