<div class="container footer">
	<div class="row">
		<div class="col-xs-12 col-sm-12 text-center">
			<p>&#169; 2015 <a href="http://evturn.com">evturn.com</a> | All Rights Reserved</p>
		</div>
	</div>
</div>