	<div class="container-fluid" id="alculator">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 page-header text-center">
				<h1 id="title"><em><span class="yellow">A</span><span class="orange">L</span><span class="red">C</span></em>ULATOR</h1>
			</div>
		</div>
	</div>