	<div class="container">
		<div class="row text-center" id="tab">
			<div class="border"></div>
			<div class="col-xs-12 col-sm-12 text-center" id="counter">
				<!-- COUNTER -->
			</div>
			<div class="col-xs-12 col-sm-12 text-center">
				<ul id="tab-list">			
					<!-- USER SELECTIONS -->				
				</ul>
			</div>
		</div>
	</div>